*.iml
.kotlin
.gradle
**/build/
!src/**/build/
local.properties
.idea/
.DS_Store
/captures
.externalNativeBuild
.cxx

# Xcode user-specific
xcuserdata/
*.xcworkspace/xcuserdata/

# Node
node_modules/
server/node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Kotlin/JS & WASM
kotlin-js-store/
build/wasm/

# OS
Thumbs.db
